@import "variables";
@import "mixins";

@keyframes slideFromRightToLeft {
  from {
      transform: translateX(100%);
  }

  to {
      transform: translateX(0%);
  }
}

body {
  font-family: $font-regular;
  font-size: 14px;
  padding: 0;
  margin: 0;
  background-color: $body-bg;
  color: $body-color;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $font-medium;
}

h1,
.h1 {
  font-size: 40px;

  @media only screen and (max-width: $tablet-sm) {
    font-size: 35px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 32px;
  }
}

h2,
.h2 {
  font-size: 35px;

  @media only screen and (max-width: $tablet-sm) {
    font-size: 30px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 28px;
  }
}

h3,
.h3 {
  font-size: 30px;

  @media only screen and (max-width: $tablet-sm) {
    font-size: 28px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 26px;
  }
}

h4,
.h4 {
  font-size: 28px;

  @media only screen and (max-width: $tablet-sm) {
    font-size: 26px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 24px;
  }
}

h5,
.h5 {
  font-size: 25px;

  @media only screen and (max-width: $tablet-sm) {
    font-size: 23px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 20px;
  }
}

h6,
.h6 {
  font-size: 22px;

  @media only screen and (max-width: $tablet-sm) {
    font-size: 20px;
  }

  @media only screen and (max-width: $tablet-sm) {
    font-size: 18px;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.font-regular {
  font-family: $font-regular !important;
}

.font-medium {
  font-family: $font-medium !important;
}

.font-bold {
  font-family: $font-bold !important;
}

form {
  .form-head {
    // font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    color: #242731;
    opacity: 0.9;
    font-family: $font-bold;
    margin-bottom: 20px;
  }

  label {
    font-family: $font-medium;
  }

  .form-label {
    color: $black;
    font-size: 14px;
    opacity: 0.7;
  }

  .form-control,
  .form-select {
    @include form-control(41px, lighten($black, 0.2)); //(height,border-color)
    font-size: 14px;

    &:focus {
      + .form-field-icon {
        .form-abs-img {
          fill: $purple;
        }

        &.icon-toggle {
          background-position: -27px 7px;
        }
      }
    }

    &[type="file"] {
      line-height: 29px;
    }
  }

  textarea {
    &.form-control {
      min-height: 100px;
      resize: none;
    }
  }

  .form-field-icon {
    position: absolute;
    right: 17px;
    bottom: 16px;

    .form-abs-img {
      fill: lighten($black, 0.2);
    }

    &.icon-toggle {
      width: 30px;
      height: 30px;
      background: url(../images/eye-icon.png) no-repeat;
      background-position: 4px 7px;
      right: 15px;
      bottom: 6px;
      cursor: pointer;

      &.active {
        background-position: -58px 7px !important;
      }
    }
  }
}

.form-check {
  .form-check-input {
    border: 1px solid $black;

    &:focus {
      box-shadow: none;
    }

    &:checked {
      background-color: $purple;
      border-color: $purple;
    }
  }

  &.checkOption {
    .form-check-input {
      border: 1.5px solid #151620;
      border-color: $black;
      border-radius: 0;
      box-shadow: none !important;
    }
  }

  &.form-switch {
    .form-check-input {
      border: 1px solid $black;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28147, 112, 219, 1%29'/%3e%3c/svg%3e");

      &:checked {
        background-color: $purple;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 1%29'/%3e%3c/svg%3e");
      }
    }
  }
}

.btn {
  @include btn;
  padding: 9px 20px;
  font-size: 14px;
  font-family: $font-medium;
  min-width: 100px;
  font-weight: 500;

  &.btn-purple {
    background-color: $purple;
    border-color: $purple;
    color: $white;

    &:hover {
      background-color: $purple;
      border-color: $purple;
      color: $white;
      box-shadow: 0px 0px 6px lighten($purple, 0.1);
    }

    &.btn-sm {
      @include btn-sm;
    }
  }

  &.btn-outline-purple {
    background-color: $white;
    border-color: $purple;
    color: $purple;

    &:hover {
      background-color: $purple;
      border-color: $purple;
      color: $white;
      box-shadow: 0px 0px 6px lighten($purple, 0.1);
    }

    &.btn-sm {
      @include btn-sm;
    }
  }

  &.btn-outline-black {
    background-color: transparent;
    border: 1px solid lighten($black, 0.7);

    &:focus {
      box-shadow: none;
      outline: none;
    }

    &.btn-sm {
      @include btn-sm;
    }
  }
}

.position-abs {
  position: absolute;
}

a {
  color: $black;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $purple;
  }
}

.modal {
  button.btn-close {
    position: absolute;
    right: 15px;
    top: 15px;
    background: url(../images/modal-close.svg) center no-repeat;
    opacity: 1;
  }

  .modal-header {
    justify-content: center;
  }

  .modal-body {
    font-size: 16px;
  }
}

.bg-purple {
  background-color: $purple !important;
}

.bg-green {
  background-color: $green !important;
}

.bg-yellow {
  background-color: $yellow !important;
}

.height-inherit {
  height: inherit !important;
}

.height-100 {
  height: 100% !important;
}

.card {
  background-color: #ffffff;
  box-shadow: 0px 1px 20px rgba(68, 97, 215, 0.1);
}

select {
  &.btn.btn-outline-black {
    &.btn-sm {
      font-size: 12px;
      padding: 5px 10px;
    }
  }
}

table {
  thead {
    background-color: rgba(138, 60, 172, 0.06);
    font-size: 11px;
    font-family: $font-medium;
    text-transform: uppercase;

    th.tableActionBox {
      width: 40px;
    }
  }

  td {
    font-size: 12px;
  }

  &.table-striped {
    tbody {
      tr {
        td {
          background: rgba(248, 243, 250, 0.5);
        }

        &:nth-child(odd) {
          td {
            --bs-table-accent-bg: #fff;
          }
        }
      }
    }
  }

  .table-action {
    float: right;

    .dropdown-menu {
      .dropdown-item {
        svg {
          fill: $black;
          margin-right: 5px;
        }

        &:hover {
          svg {
            fill: $purple;
          }
        }
      }
    }
  }

  tfoot {
    background-color: #fdfdfd;

    td {
      font-size: 16px;
      font-family: $font-bold;
      opacity: 0.6;
    }
  }
}

.badge {
  padding: 5px 10px;
  font-size: 12px;

  &.text-bg-green {
    background-color: rgba(202, 251, 197, 0.5);
    color: $green;
  }

  &.text-bg-red {
    background-color: rgba(255, 69, 69, 0.05);
    color: $orange;
    &.border-bg-red {
      border-color: $red;
      border-width: 1px;
      border-style: solid;
    }
  }

  &.text-bg-orange {
    background-color: rgba(231, 214, 61, 0.25);
    color: $orange;
    &.border-bg-orange {
      border-color: $orange;
      border-width: 1px;
      border-style: solid;
    }
  }

  &.text-bg-purple {
    background-color: rgba(147, 112, 219, 0.1);
    color: $purple;
  }
}

.card-top-filter-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $mobile) {
    flex-flow: column;
    align-items: flex-start;

    .filter-box {
      flex-wrap: wrap;
    }
  }

  .search-table {
    max-width: 300px;

    @media only screen and (max-width: $mobile) {
      margin-bottom: 15px;
      max-width: unset;
      width: 100%;
    }

    .search-input {
      background: rgba(138, 60, 172, 0.02) url(../images/search-Icon.png)
        no-repeat;
      background-position: 10px center;
      border: 1px solid rgba(36, 39, 49, 0.1);
      border-radius: 30px;
      width: 100%;
      height: 36px;
      padding: 5px 10px 5px 30px;
      font-size: 13px;
    }
  }
}

.right-filter {
  .btn {
    &.dropdown-toggle {
      width: auto;
      min-width: unset;
      border: none !important;
    }
  }

  .dropdown-menu {
    width: 350px;
    padding: 20px;

    @media screen and (max-width: $mobile) {
      width: 300px;
    }
  }
}

.page-top-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.width-auto {
  width: auto !important;
  min-width: unset !important;
}

.border-purple {
  border: 1px solid $purple !important;
}

.page-content-box {
  padding-bottom: 30px;
}

.page-wrap {
  height: 100vh;

  .main {
    @media screen and (max-width: $tablet-lg) {
      width: 70%;
    }

    @media screen and (max-width: $mobile) {
      width: 100%;
    }
  }
}

.filter-box {
  display: flex;
  align-items: center;
  gap: 15px;
  img{
    margin-right: 5px;
  }
  &.position-abs {
    right: 0;
    top: -13px;
    &.spaceBottom {
      top: -20px;
    }
    &.filterDate{
      max-width: 150px;
    }
  }

  .btn.btn-sm {
    font-size: 14px;

    @media screen and (max-width: $mobile) {
      font-size: 12px;
    }
  }
}

.tab-link-row {
  margin-top: 10px;

  @media screen and (max-width: $mobile) {
    display: flex;
    flex-flow: column;
    margin: 0;

    .nav-tabs {
      order: 2;
    }

    .filter-box.position-abs {
      order: 1;
      text-align: right;
      margin-bottom: 10px;
      position: static;
      justify-content: flex-end;
    }
  }
}

.nav-tabs {
  .nav-item {
    &:not(:last-child) {
      margin-right: 10px;
    }

    .nav-link {
      font-size: 16px;
      font-family: $font-medium;
      padding-inline: 5px;
      padding-block: 3px;
      border: none;
      color: lighten($black, 0.5);

      &:hover,
      &.active {
        color: $purple;
        border-bottom: 2px solid $purple;
      }
    }
  }
}

.amount-status {
  li {
    position: relative;
    padding-left: 15px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      top: 3px;
      left: 0;
    }

    &.pending {
      &::before {
        background-color: $yellow;
      }
    }

    &.approved {
      &::before {
        background-color: $purple;
      }
    }

    &.paid {
      &::before {
        background-color: $green;
      }
    }

    .value {
      font-size: 11.2px;
      font-family: $font-bold;
      opacity: 0.7;
    }

    .status {
      font-size: 10px;
      color: lighten($black, 0.2);
    }
  }
}

.badge {
  &.sales-data {
    background-color: #faf9f9;
    border: 1px solid lighten($black, 0.8);

    label {
      font-size: 12px;
      opacity: 0.7;
      margin-bottom: 8px;
    }

    .amount {
      font-size: 16px;
      font-family: $font-bold;
    }
  }
}

table {
  th.tableAddressBox {
    width: 500px;

    @media screen and (max-width: $tablet-sm) {
      width: 300px;
    }

    @media screen and (max-width: $mobile) {
      width: auto;
    }
  }

  td {
    vertical-align: middle;
  }

  .topProd {
    .name {
      font-size: 16px;
      font-family: $font-bold;
      opacity: 0.8;
      margin-bottom: 5px;
    }

    .desc {
      font-size: 12px;
      opacity: 0.6;
    }
  }

  .prodPrice {
    font-size: 12px;
    font-family: $font-bold;
    opacity: 0.7;
  }

  .table-action {
    .dropdown-toggle {
      border: none;
      background-color: transparent;

      &:before {
        border: none;
      }

      span {
        @include tableActionIcon;
      }
    }

    .dropdown-menu {
      padding: 0;

      li {
        &.seperator {
          &:last-child {
            position: relative;

            &:before {
              content: "";
              position: absolute;
              border: 0.8px solid $black;
              opacity: 0.5;
              width: 90%;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }

        .dropdown-item {
          // font-family: $font-medium;
          font-size: 14px;
          padding-block: 7px;
          padding-inline: 10px;

          &:hover {
            background-color: rgba(138, 60, 172, 0.06);
            color: $purple;
          }
        }
      }
    }
  }
}

.order-details {
  form {
    .form-control,
    .form-select {
      padding-inline-end: 0.75rem;
    }

    .form-head {
      font-size: 16px;
      font-family: $font-medium;
      opacity: 0.6;
      margin-bottom: 10px;
    }
  }

  table {
    tr {
      .prodInfo {
        font-family: $font-medium;

        .prod-img {
          width: 62px;
          height: 62px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          background: rgba(0, 191, 255, 0.21);
          border-radius: 5px;
        }

        .proName {
          font-size: 14px;
          opacity: 0.6;
          margin-bottom: 5px;
        }

        .prodMeta {
          font-size: 12px;
          opacity: 0.6;

          &.text-bg-light {
            background-color: lighten($purple, 0.3) !important;
          }
        }
      }

      .price-box {
        font-family: $font-medium;

        .mrp {
          font-size: 16px;
          opacity: 0.6;
        }

        .old-price {
          font-size: 12px;

          .price-cut {
            opacity: 0.4;
            text-decoration: line-through;
          }
        }
      }

      .qty {
        font-size: 16px;
        font-family: $font-medium;
        opacity: 0.6;
      }
    }

    tr:nth-child(odd) {
      .prod-img {
        background: rgba(147, 112, 219, 0.2);
      }
    }
  }
}

.order-subtotal-box {
  background: #f9f7f7;
  font-family: $font-medium;
  font-size: 14px;

  .price-breakage {
    opacity: 0.6;

    span {
      font-family: $font-bold;
    }
  }

  .price-breakage-sum {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ffffff;
    font-family: $font-bold;
    border: 1px solid rgba(195, 197, 198, 0.4);
    opacity: 0.7;
  }

  .price-addon {
    opacity: 0.5;
    font-size: 10px;
  }

  .card-footer {
    &.total-sum {
      font-family: $font-bold;
      background-color: #ffffff;
      font-size: 16px;
      opacity: 0.8;
    }
  }
}

.order-progress-list {
  counter-reset: my-sec-counter;

  .order-progress-step {
    padding-left: 40px;
    position: relative;

    &:before {
      counter-increment: my-sec-counter;
      content: counter(my-sec-counter);
      position: absolute;
      left: -5px;
      top: 50%;
      transform: translateY(-50%);

      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #f8f8f8;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $purple;

      font-size: 14px;
      font-family: $font-bold;
    }

    .progress-inner {
      background: #ffffff;
      border: 1px solid rgba(35, 31, 32, 0.1);
      box-shadow: 4px 4px 46px 4px rgba(0, 0, 0, 0.02);
      border-left: 10px solid $purple;
      border-radius: 10px;
      padding: 10px;
      width: 350px;
      margin-right: 20px;

      @media screen and (max-width: $mobile) {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
      }
    }

    .progress-info {
      font-family: $font-medium;
      color: rgba(3, 6, 20, 0.6);

      .date {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-bottom: 5px;

        img {
          margin-right: 5px;
        }
      }

      .badge {
        background: rgba(147, 112, 219, 0.15);
        color: rgba(3, 6, 20, 0.6);
        padding: 8px 15px;
      }
    }

    &.disabled {
      cursor: default;

      .progress-inner {
        border-left: 10px solid rgba(35, 31, 32, 0.1);
        opacity: 0.5;

        > img {
          filter: grayscale(1);
        }
      }

      &:before {
        color: rgba(35, 31, 32, 0.2);
      }

      .badge.text-bg-green {
        filter: grayscale(1);
      }
    }
  }
}

.msg-for-order {
  textarea.form-control {
    height: 80px;
    resize: none;
  }
}

.qty-box {
  width: 150px;

  .btn {
    width: 20px !important;
    height: 20px;
    padding: 0;
    font-size: 19px;
    min-width: unset;
  }

  .form-control {
    padding: 5px;
    border: none;
    border-bottom: 1px solid $black;
    width: 30px;
    text-align: center;
  }
}

.alert {
  &.alert-purple {
    background: rgba(147, 112, 219, 0.05);
    border: 1px solid rgba(147, 112, 219, 0.3);
    font-size: 16px;

    img.icon {
      width: 20px;
    }
  }
}

.product-detail {
  .form-switch {
    padding: 0;

    .form-check-input {
      float: unset;
      margin-inline: 10px;
    }

    label {
      font-size: 15px;
      font-family: $font-medium;
    }
  }
}

.img-card {
  .dp-img {
    width: 130px;
    height: 130px;
  }

  .editImg {
    width: 40px;
    height: 40px;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    right: -15px;
    top: 55%;
    cursor: pointer;
  }
}

.uploadBtn {
  label {
    display: flex;
    padding: 0.5rem;
    cursor: pointer;
    background: rgba(35, 31, 32, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 120px;
    font-weight: 500;
    font-size: 14px;
    font-family: $font-medium;
  }
}

.dropdown-item {
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.order-create {
  .order-subtotal-box .price-breakage {
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    color: #151620;
    opacity: 0.6;
  }

  table {
    tfoot {
      background-color: transparent;

      td {
        opacity: 1;
      }
    }
  }

  .list-group {
    &.row1 {
      li {
        font-family: $font-medium;
        font-size: 14px;
        color: lighten($color: $black, $amount: 0.4);
      }
    }
  }

  .create-order-dropdown-box {
    label {
      font-family: $font-medium;
      font-size: 14px;
      line-height: 140%;
      color: lighten($color: $black, $amount: 0.4);
    }

    select {
      margin-top: 10px;
      width: 200px;
      height: 35px;
      text-align: left;
      padding: 5px 10px;
      border: 0.5px solid rgba(35, 31, 32, 0.6);
    }
  }
}

.addMore .btn {
  width: 35px;
  height: 35px;
  font-weight: 500;
  padding: 0;
  min-width: unset;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-form-options {
  select {
    width: 200px;
    height: 35px;
    text-align: left;
    padding: 5px 10px;
    border: 0.5px solid rgba(35, 31, 32, 0.6);
  }

  .badge.text-bg-light {
    width: 60px;
    height: 35px;
    border: 0.5px solid rgba(35, 31, 32, 0.6);
    padding: 5px 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lighten($color: $black, $amount: 0.3) !important;
  }
}

.addNoteBox {
  button {
    font-size: 13px;
    color: $purple;
    font-family: $font-medium;
    @include btnReset;

    i {
      display: inline-flex;
      width: 20px;
      height: 20px;
      font-style: normal;
      border: 2px solid $purple;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
    }
  }

  .noteTextareaBox {
    margin-top: 15px;

    textarea {
      width: 500px;
      border: 0.5px solid rgba(35, 31, 32, 0.6);
      resize: none;
      height: 100px;
      padding: 15px;
      font-family: $font-regular;
      font-size: 14px;

      @media screen and (max-width: $mobile) {
        width: 100%;
      }
    }
  }
}

.addMoreBox {
  button {
    font-size: 13px;
    color: $purple;
    font-family: $font-medium;
    @include btnReset;

    i {
      display: inline-flex;
      width: 20px;
      height: 20px;
      font-style: normal;
      border: 2px solid $purple;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
    }
  }
}

.welcomeMSG {
  font-family: $font-medium;
  font-size: 20px;
  text-transform: capitalize;
  color: lighten($color: $black, $amount: 0.1);
  opacity: 0.8;
  margin-bottom: 20px;
}

.retailer-Meta-Info {
  .card-title {
    font-family: $font-medium;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #151620;
    opacity: 0.6;
  }
}

.retailer-dashboard {
  .card-title {
    font-family: $font-medium;
    font-size: 18px;
    text-transform: capitalize;
    color: lighten($color: $black, $amount: 0.1);
    opacity: 0.8;
    margin-bottom: 15px;
  }

  .searchBox-form {
    .form-control {
      height: 40px;
      width: 300px;
    }
    .dropdown-menu {
      overflow-y: auto;
      height: 300px;
    }
  }

  .map-box {
    height: 300px;
  }

  .order-progress-list {
    &.recentOrders {
      .progress-inner {
        width: 100%;

        .dateTime {
          font-family: $font-medium;
          font-size: 13;
          color: rgba(3, 6, 20, 0.6);
          opacity: 0.8;
        }

        .order-metaInfo {
          font-family: $font-bold;
          font-size: 14;
          color: rgba(3, 6, 20, 0.6);

          span {
            color: $purple;
          }
        }
      }
    }
  }
}

textarea.addNoteTextarea {
  height: 123px;
  width: 100%;
  background: rgba(35, 31, 32, 0.01);
  border: 1px solid rgba(35, 31, 32, 0.2);
  border-radius: 5px;
  padding: 15px;
}

.dateTimeBox {
  width: 160px;

  .dateRow {
    font-family: $font-bold;
    font-size: 13px;
    color: #231f20;
    opacity: 0.7;
    margin-bottom: 5px;
  }

  .daysCount {
    font-family: $font-medium;
    font-size: 11px;
    color: #231f20;
    opacity: 0.7;
  }
}

.order-group-box {
  .list-group {
    .list-group-item {
      background-color: transparent;
      width: 100px;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        border-top: 1px dashed rgba(35, 31, 32, 0.4);
        top: 16px;
        left: 50%;
      }

      &:last-child::before {
        border: none;
      }

      span {
        background-color: #ffffff;
        width: 30px;
        padding: 0 3px;
        z-index: 5;
        position: relative;

        img {
          filter: grayscale(1);
        }
      }

      p {
        font-family: $font-medium;
        font-size: 12px;
        color: $black;
        opacity: 0.6;
        margin: 5px 0 0;
      }

      &.active {
        background-color: transparent;

        img {
          filter: grayscale(0);
        }

        p {
          opacity: 0.9;
        }
      }
    }
  }
}

.cartBtn {
  width: 30px;
  text-align: center;

  span {
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.productBox {
  .card {
    background: rgba(151, 219, 112, 0.05);
    border: 1.05666px solid rgba(35, 31, 32, 0.2);
    border-radius: 10.5666px;
    padding: 14px;
    font-family: $font-medium;
    font-weight: 500;
    color: $black;

    .card-title {
      font-size: 17.3367px;
      line-height: 140%;
      opacity: 0.7;
    }

    .card-subtitle {
      font-size: 13.4841px;
      line-height: 140%;
      opacity: 0.9;
    }

    .productMeta {
      .prodInfo {
        font-size: 14.0609px;
        line-height: 16px;
        text-transform: capitalize;
        opacity: 0.7;
      }

      .prodDesc {
        font-size: 12.0522px;
        line-height: 14px;
        text-transform: capitalize;
        opacity: 0.6;
      }

      .distributorInfo {
        font-size: 15.4104px;
        line-height: 140%;
        opacity: 0.7;
      }

      .prodPrice {
        font-family: $font-bold;
        font-size: 17.3367px;
        line-height: 20px;
        text-transform: capitalize;
        opacity: 0.6;
      }

      .qty-box {
        width: 100%;

        label {
          font-size: 13.4841px;
          line-height: 140%;
          color: #231f20;
          opacity: 0.6;
        }

        .btn {
          width: 20px !important;
          height: 20px;
          font-size: 19px;
        }
      }
    }
  }
}

.marketplace {
  .card-top-filter-box {
    .search-table {
      width: 300px;
    }
  }
}

.prodInfoBox {
  font-family: $font-medium;
  line-height: 140%;
  color: $black;

  label.prodHeadMain {
    font-size: 18px;
    opacity: 0.7;
    margin-bottom: 10px;
  }

  .prodDesc {
    font-size: 14px;
    opacity: 0.5;
  }

  .prodMetaInfo {
    .metaHeadSecondary {
      font-size: 16px;
      opacity: 0.7;
    }

    .metaDescSecondary {
      font-size: 13.4841px;
      opacity: 0.6;
    }
  }
}
.prodOtherInfo {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  font-family: $font-medium;
  line-height: 140%;
  color: $black;

  .OtherInfo-in {
    padding: 10px 15px;
    text-align: left;

    &.badge.text-bg-light {
      background: #faf9f9;
      border: 1px solid rgba(35, 31, 32, 0.1);
      border-radius: 10px;
    }

    .OtherInfoHead {
      font-size: 14px;
      opacity: 0.7;
      margin-bottom: 3px;
    }

    .OtherInfoDesc {
      font-size: 12px;
      line-height: 140%;
      color: #231f20;
      opacity: 0.6;
    }
  }
}
.prodOtherOptions {
  font-family: $font-medium;
  line-height: 140%;
  color: $black;
  .dropdownOption {
    label {
      font-size: 16px;
      opacity: 0.7;
      margin-bottom: 15px;
    }
    .form-select {
      $borderCLR: lighten($black, 0.8);
      @include form-control(41px, $borderCLR);
    }
  }
}
.prodDetailActions {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 15px;

  .actionBoxIn {
    display: flex;
    flex-direction: column;
    font-family: $font-medium;
    line-height: 140%;
    color: $black;
    label {
      font-size: 16px;
      opacity: 0.7;
      margin-bottom: 15px;
    }
    &.ctaBox {
      min-width: 200px;
      padding-bottom: 10px;
    }
  }
  .OtherInfo-in {
    padding: 10px 15px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;

    &.badge.text-bg-light {
      background: #faf9f9;
      border: 1px solid rgba(35, 31, 32, 0.1);
      border-radius: 10px;
      width: 140px;
      height: 60px;
    }
    .qty-box {
      width: 100%;
      display: flex;
      justify-content: center;
      .form-control {
        width: 40px;
      }
    }
  }
  .price-box {
    font-family: $font-bold;
    font-size: 17.3367px;
    opacity: 0.6;
  }
}
.cartTile {
  .prodName {
    font-size: 18px;
    opacity: 0.7;
    margin: 0;
  }
  .cartInfo {
    .priceBox {
      font-weight: 700;
      font-size: 20px;
      opacity: 0.6;
      @media screen and (max-width: $tablet-sm) {
        font-size: 16px;
      }
    }
  }
}
.cartTotalBox {
  .prodDetailActions {
    .actionBoxIn {
      width: 100%;
      align-items: center;
      &.ctaBox {
        .btn-purple {
          min-width: 180px;
        }
      }
      label {
        margin: 0;
        @media screen and (max-width: $tablet-sm) {
          font-size: 12px;
        }
      }
    }
    .price-box {
      @media screen and (max-width: $tablet-sm) {
        font-size: 12px;
      }
    }
    .OtherInfo-in.badge.text-bg-light {
      width: 100%;
      justify-content: space-between;
    }
  }
}
.prodInfo-card {
  color: $black;

  .card-title {
    font-family: $font-medium;
    font-size: 16px;
    opacity: 0.6;
  }
  .card-text {
    font-size: 14px;
    opacity: 0.6;
  }
}
.addProductBox {
  .card {
    background: rgba(147, 112, 219, 0.05);
    border: 1.5px dashed rgba(35, 31, 32, 0.2);
    border-radius: 10.9709px;
    box-shadow: none;

    .addBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-flow: column;
      font-family: $font-medium;
      font-size: 16px;
      color: $purple;
      i {
        font-style: normal;
        width: 25px;
        height: 25px;
        border: 2px solid $purple;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600; 
        margin-bottom: 10px;
        line-height: 25px;
      }
    }
  }
}
.accountHistory {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  // gap:10px 10px;

  .accountInfo {
    font-family: $font-medium;
    font-size: 14px;
    padding: 10px 17px;

    &.balanceInfo {
      background: rgba(147, 112, 219, 0.04);
      border: 1px solid rgba(147, 112, 219, 0.2);
      display: flex;
      align-items: center;
      gap: 0 7px;
    }
    &.balanceDue {
      background: rgba(254, 93, 93, 0.05);
      border: 0.5px solid rgba(254, 93, 93, 0.2);
    }
  }
}

.acountPaybale {
  .search-table {
    width: 340px;
  }
  .table > thead th,
  .table td {
    padding: 12px 20px;
    font-family: $font-medium;
  }
  .table td {
    padding: 8px 20px;
  }
  .table tbody tr:last-child {
    border-bottom-color: transparent;
  }
  .updateDate {
    font-family: $font-bold;
    color: #231f20;
  }
  .dayAgo {
    font-size: 10px;
    font-family: $font-medium;
    color: $black;
    display: flex;
  }
  .dropstart {
    display: flex;
    justify-content: start;
    align-items: center;
    float: none;
  }
  .badge {
    padding: 8px 12px;
    font-family: $font-medium;
    font-weight: 500;
  }
  .card-header {
    font-size: 18px;
    color: #231f20;
    font-family: $font-medium;
    border-bottom: 1px solid #e6eaec;
    padding: 20px 30px;
  }
  .paymentMethodList {
    .label {
      flex: 0 1 16.66%;
      font-size: 16px;
      font-family: $font-medium;
      opacity: 0.7;
    }
    .disCreption {
      flex: 0 1 auto;
      font-size: 14px;
      color: #231f20;
      opacity: 0.6;
      .btn {
        font-size: 14px;
      }
      .dropdown-toggle::after {
        margin-left: 12px;
      }
      .OtherInfo-in {
        display: flex;
        flex-flow: column;
        gap: 10px 0;
        padding: 12px 18px;
        .name {
          font-size: 14px;
          font-family: $font-medium;
          color: #231f20;
          opacity: 0.7;
        }
        .discreption-In {
          font-size: 12px;
          &.price {
            font-size: 16px;
            font-family: $font-bold;
          }
        }
      }
    }
  }
}
.table .dropdown-menu {
  min-width: 100px;
}
 .product-detail{
  .prodImg > img{ height: 200px; width: auto;}
 }
.product-list .productBox  img {
  height: auto;
  width: auto;
}
.prodDetailImg img {
  width: auto;
  max-width: 100%;
}
.searchListType {
  position: relative;
  .searchListBx {
    position: absolute;
    height: 200px;
    width: 80%;
    left: 0;
    top: 100%;
    background: #fff;
    overflow-y: scroll;
    overflow-x: clip;
    box-shadow: 0 0 10px #dadada;
    padding: 20px;
    display: none;
  }
   input{
    &:focus + .searchListBx{
      display: block;
    }
   }
}

.productImg{ 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 100%;
  img{
    width: auto !important;
    height: 100% !important;
    max-width: fit-content !important;
  }
}

.base-TablePagination-actions button:disabled {
  background: #7c0a958c;
  color: #c1c1c1;
  border: none;
  border-radius: 5px;
}
.base-TablePagination-actions button {
  background: #673BB7;
  color: #fff;
  border: none;
  border-radius: 5px;
}