@import 'variables';
@import 'mixins';

body{
    font-family: $font-regular;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background-color: $body-bg;
    color: $body-color;
}
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6{
    font-family: $font-medium;
}
h1,.h1{
    font-size: 40px;
    @media only screen and (max-width:$tablet-sm){
        font-size: 35px;
    }
    @media only screen and (max-width:$mobile){
        font-size: 32px;
    }
}
h2,.h2{
    font-size: 35px;
    @media only screen and (max-width:$tablet-sm){
        font-size: 30px;
    }
    @media only screen and (max-width:$mobile){
        font-size: 28px;
    }
}
h3,.h3{
    font-size: 30px;
    @media only screen and (max-width:$tablet-sm){
        font-size: 28px;
    }
    @media only screen and (max-width:$mobile){
        font-size: 26px;
    }
}
h4,.h4{
    font-size: 28px;
    @media only screen and (max-width:$tablet-sm){
        font-size: 26px;
    }
    @media only screen and (max-width:$mobile){
        font-size: 24px;
    }
}
h5,.h5{
    font-size: 25px;
    @media only screen and (max-width:$tablet-sm){
        font-size: 23px;
    }
    @media only screen and (max-width:$mobile){
        font-size: 20px;
    }
    
}
h6,.h6{
    font-size: 22px;
    @media only screen and (max-width:$tablet-sm){
        font-size: 20px;
    }
    @media only screen and (max-width:$tablet-sm){
        font-size: 18px;
    }
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
form{
    label{
        font-family: $font-medium;
    }
    .form-label{
        color: $black;
        font-size: 14px;
        opacity: 0.7;
    }
    .form-control,
    .form-select{
        @include form-control;
        height: 41px;
        border-color: lighten($black, 20%);

        &:focus{
            + .form-field-icon{
                .form-abs-img{
                    fill: $purple;
                }
                &.icon-toggle{
                   background-position: -27px 7px;
                }
            }
        }
    }
    textarea{
        &.form-control{
            min-height: 100px;
            resize: none;
        }
    }
    .form-field-icon{
        position: absolute;
            right: 17px;
            bottom: 16px;

        .form-abs-img{
            fill: lighten($black, 20%);
        }
        &.icon-toggle{
            width: 30px;
            height: 30px;
            background: url(../images/eye-icon.png) no-repeat;
            background-position: 4px 7px;
            right: 12px;
            bottom: 11px;
            cursor: pointer;
            
            &.active{
                background-position: -58px 7px !important;
            }

        }
    }
    .form-check{
        .form-check-input{
            &:focus{
                box-shadow: none;
            }
            &:checked{
                background-color: $purple;
            }
        }
        &.checkOption{
            .form-check-input{
                border: 1.5px solid #151620;
                border-color: $black;
                border-radius: 0;
                box-shadow: none !important;
            }
        }
       
        &.form-switch{
            .form-check-input{
                border: 1px solid $black;
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28147, 112, 219, 1%29'/%3e%3c/svg%3e");

                &:checked{
                    background-color: $purple;
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 1%29'/%3e%3c/svg%3e");
                }
            }
        }
    }
}

.btn{
    @include btn;
    padding: 9px 20px;
    font-size: 14px;
    font-family: $font-medium;
    min-width: 100px;

    &.btn-purple{
        background-color: $purple;
        border-color: $purple;
        color: $white;
    
        &:hover{
            background-color: $purple;
            border-color: $purple;
            color: $white;
            box-shadow: 0px 0px 6px lighten($purple,10%);
        }
        &.btn-sm{
            @include btn-sm;
        }
    }
    &.btn-outline-black{
        background-color: transparent;
        border: 1px solid lighten($black, 70%);
        &:focus{
            box-shadow: none;
            outline: none;
        }
        &.btn-sm{
            @include btn-sm;
        }
    }
}

.position-relative{
    position: relative;
}
.position-abs {
    position: absolute;
}
a{
    color: $black;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        color: $purple;
    }
}
.modal{
    button.btn-close {
        position: absolute;
        right: 15px;
        top: 15px;
        background: url(../images/modal-close.svg) center no-repeat;
        opacity: 1;
    }
    .modal-header{
        justify-content: center;
    }
    .modal-body{
        font-size: 16px;
    }
}
.bg-purple{
    background-color: $purple !important;
}
.bg-green{
    background-color: $green !important;
}
.bg-yellow{
    background-color: $yellow !important;
}
.height-inherit{
    height: inherit !important;
}
.height-100{
    height: 100% !important;
}
.card{
    background-color: #ffffff;
    box-shadow: 0px 1px 20px rgba(68, 97, 215, 0.1);
}
select{
    &.btn.btn-outline-black{
        &.btn-sm{
            font-size: 12px;
            padding: 5px 10px;
        }
    }
}
table{
    thead{
        background-color: rgba(138, 60, 172, 0.06);
        font-size: 11px;
        font-family: $font-medium;
        text-transform: uppercase;
    }
    td{
        font-size: 12px;
    }
    &.table-striped{
        tbody{
            tr{
                td{
                    background: rgba(248, 243, 250, 0.5);
                }
                &:nth-child(odd){
                    td{
                        --bs-table-accent-bg: #fff;
                    }
                }
            }
        }
    }
    tfoot{
        background-color: #FDFDFD;

        td{
            font-size: 16px;
            font-family: $font-bold;
            opacity: 0.6;
        }
        
    }
}
.badge{
    padding: 5px 10px;
    font-size: 12px;

    &.text-bg-green{
        background-color: rgba(202, 251, 197, 0.5);
        color: $green;
    }
    &.text-bg-red{
        background-color: rgba(255, 69, 69, 0.05);
        color: $red;
    }
    &.text-bg-orange{
        background-color: rgba(231, 214, 61, 0.25);
        color: $orange;
    }
}
.card-top-filter-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width:$mobile){
        flex-flow: column;
        align-items: flex-start;

        .filter-box{
            flex-wrap: wrap;
        }
    }

    .search-table{
        max-width: 300px;

        @media only screen and (max-width:$mobile){
            margin-bottom: 15px;
            max-width: unset;
            width: 100%;
        }

        .search-input{
            background: rgba(138, 60, 172, 0.02) url(../images/search-Icon.png) no-repeat;
            background-position: 10px center;
            border: 1px solid rgba(36, 39, 49, 0.1);
            border-radius: 30px;
            width: 100%;
            height: 36px;
            padding: 5px 10px 5px 30px;
        }
    }
}
.right-filter{
    .btn{
         &.dropdown-toggle{
            width: auto;
            min-width: unset;
            border: none !important;
        }
    }
    .dropdown-menu{
        width: 350px;
        padding: 20px;
        @media screen and (max-width:$mobile) {
            width: 300px;
        }
    }
}
.page-top-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.width-auto{
    width: auto !important;
    min-width: unset !important;
}
.border-purple{
    border:1px solid $purple !important;
}
.page-content-box{
    padding-bottom: 30px;
}